fastapi==0.115.0
uvicorn==0.30.6
python-multipart==0.0.9
pydantic==2.9.2
pydantic-settings==2.5.2
streamlit==1.39.0
requests==2.32.3
rank-bm25==0.2.2
sentence-transformers==2.7.0
chromadb==0.5.4
PyPDF2==3.0.1
transformers==4.44.2
torch>=2.2.0
orjson==3.10.7
